/*** RTL websites ***/
/*import Helpers*/
/*colors varibales*/
/*font varibales*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i, ");
body {
  font-family: 'Montserrat', sans-serif;
  direction: rtl;
  text-align: right;
}

/*import components*/
.ma-btn {
  display: inline-block;
  text-decoration: none;
  padding: .75rem 1.25rem;
  border: 1px solid;
  border-radius: .25rem;
  margin-bottom: 1.25rem;
  width: 100%;
  -webkit-box-shadow: 0 -3px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 -3px 30px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.ma-btn:hover {
  text-decoration: none;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 -8px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 -8px 30px rgba(0, 0, 0, 0.5);
}

.ma-btn-primary {
  color: #fff !important;
  background-color: #ff00d4;
  border-color: #ff00d4;
}

.ma-btn-secondary {
  border-color: #fff;
  color: #fff !important;
  background-color: transparent;
}

.ma-btn-secondary:hover {
  background-color: #fff;
  color: #ff00d4 !important;
  border-color: #fff;
}

.ma-btn-navbar {
  width: auto;
  padding: .25rem 1rem;
  margin-right: .5rem;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .ma-btn-navbar {
    margin-right: 0;
    margin-top: .75rem;
    margin-bottom: 1.25rem;
  }
}

/*import Layouts */
.ma-navbar {
  max-height: 80px;
  height: 80px;
  background-image: #1488CC;
  background-image: linear-gradient(45deg, #ff00d4, #1488CC);
}

.ma-navbar .navbar-brand {
  color: #fff !important;
  font-weight: 500;
}

@media (max-width: 991px) {
  .ma-navbar .navbar-brand {
    margin: 0;
  }
}

.ma-navbar .navbar-toggler {
  padding: 5px;
}

.ma-navbar .navbar-toggler .navbar-toggler-icon {
  background-image: none;
  height: 100%;
  display: block;
}

.ma-navbar .navbar-toggler .navbar-toggler-icon > span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ff00d4;
}

.ma-navbar .navbar-toggler .navbar-toggler-icon > span:not(:last-child) {
  margin-bottom: 5px;
}

.ma-navbar .navbar-nav {
  padding: 0;
}

.ma-navbar .nav-item {
  margin-left: 2rem;
}

@media (max-width: 991px) {
  .ma-navbar .nav-item {
    margin-left: 0;
  }
}

.ma-navbar .nav-link {
  color: #fff !important;
  font-weight: 400;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.ma-navbar .nav-link:hover {
  color: #ff00d4 !important;
}

@media (max-width: 991px) {
  .ma-navbar {
    max-height: none;
    height: auto;
    background-color: #2B32B2;
    padding: 1rem;
    -webkit-box-shadow: 0 -5px 30px #2B32B2;
            box-shadow: 0 -5px 30px #2B32B2;
  }
}

.page-header {
  height: 100vh;
  padding: 120px 0;
  background-color: #1488CC;
  background-image: linear-gradient(45deg, #ff00d4, #1488CC);
}

.page-header .header-title {
  color: #fff;
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  .page-header .header-title {
    font-size: 2rem;
    font-weight: 600;
  }
}

.page-header .header-subtitle {
  color: #e0e4e8;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.page-header .cta-links-area {
  padding: 1rem 0;
}

@media (max-width: 991px) {
  .page-header {
    height: auto;
  }
}
/*# sourceMappingURL=main-RTL.css.map */