@charset "UTF-8";
/*** RTL websites ***/
/*Start importing global Helpers */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i ");
body {
  font-family: 'Montserrat', sans-serif;
  direction: rtl;
  text-align: right;
  position: relative;
}

.mega-section {
  padding: 80px 0;
}

.elf-section {
  padding: 60px 0;
}

.section-heading {
  margin-bottom: 3rem;
}

.section-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.25rem;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 1.75rem;
  }
}

.text-gradient-color {
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-color {
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
}

.bg-solid-color {
  background-color: #0479bd;
}

.overlay {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.line-gradient-color {
  display: block;
  width: 75px;
  height: 4px;
  border-radius: 0 6px;
  margin: 1rem auto;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
}

.line-solid-color {
  display: block;
  width: 75px;
  height: 4px;
  border-radius: 0 6px;
  margin: 1rem auto;
  background-color: #0479bd;
}

/*  to enable any element that previously had the .disabled-element class.  */
.enabeld-element {
  opacity: 1;
  pointer-events: auto;
}

/*  to disable any element and prevent the mouse action on it  */
.disabled-element {
  opacity: .2;
  pointer-events: none;
}

.see-more-area {
  display: block;
}

.wave-shape {
  display: block;
  width: 100%;
  fill: #fff;
}

.no-borders {
  border: none;
  outline: none;
}

.back-to-top {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: 20px;
  bottom: 20px;
  display: none;
  cursor: pointer;
  z-index: 20;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
  -webkit-box-shadow: 0px -3px 15px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px -3px 15px 0px rgba(0, 0, 0, 0.5);
}

.back-to-top .icon {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #fff;
}

/*ُEnd importing global Helpers */
/*Start global components rules */
.ma-btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  padding: .75rem 1.5rem;
  border-radius: .25rem;
  width: auto;
  -webkit-box-shadow: 0 -3px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 -3px 30px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.ma-btn:hover {
  text-decoration: none;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 -8px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 -8px 30px rgba(0, 0, 0, 0.5);
}

.ma-btn-primary {
  color: #fff !important;
  background-color: #ff00d4;
  border-color: #ff00d4;
}

.ma-btn-primary:hover {
  background: #0479bd;
}

.ma-btn-secondary {
  border-color: #fff;
  color: #fff !important;
  background-color: transparent;
}

.ma-btn-secondary:hover {
  background-color: #fff;
  color: #ff00d4 !important;
  border-color: #fff;
}

.ma-btn-navbar {
  width: auto;
  padding: .25rem 1rem;
  margin-right: .5rem;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .ma-btn-navbar {
    margin-right: 0;
    margin-top: .75rem;
    margin-bottom: 1.25rem;
  }
}

/* Start Social Icons Styles */
.sc-holder {
  text-align: center;
  padding: .75rem 0;
}

.sc-holder .sc-title {
  display: inline-block;
  margin-right: 20px;
  color: #0479bd;
  font-weight: 600;
}

.sc-holder .sc-title i.fa {
  margin-right: 5px;
}

.sc-holder .sc-list {
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style: none;
}

.sc-holder .sc-list .sc-item {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0px -3px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -3px 15px 0px rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.sc-holder .sc-list .sc-item:last-of-type {
  margin-right: 0;
}

.sc-holder .sc-list .sc-item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.sc-holder .sc-list .sc-icon {
  text-align: center;
  border-radius: 50%;
  color: #fff !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.sc-holder .sc-size-40 .sc-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}

.sc-holder .sc-size-32 .sc-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
}

.sc-holder .sc-size-24 .sc-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
}

/*  End Social Icons Styles  */
/*End global components rules */
/*Start Importing Layouts Rules */
/*===== Start Navbar Rules =====*/
.main-navbar {
  max-height: 80px;
  height: 80px;
  background-color: #0479bd;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
}

@media (max-width: 991px) {
  .main-navbar {
    padding: 0;
  }
}

.main-navbar .navbar-brand {
  color: #fff !important;
  font-weight: 500;
  width: 150px;
}

@media (max-width: 991px) {
  .main-navbar .navbar-brand {
    width: 100px;
    margin-right: 1rem;
  }
}

.main-navbar .navbar-toggler {
  padding: 5px;
}

.main-navbar .navbar-toggler .navbar-toggler-icon {
  background-image: none;
  height: 100%;
  display: block;
}

.main-navbar .navbar-toggler .navbar-toggler-icon > span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.main-navbar .navbar-toggler .navbar-toggler-icon > span:not(:last-child) {
  margin-bottom: 5px;
}

.main-navbar .navbar-nav {
  padding: 0;
}

.main-navbar .nav-item {
  margin-left: 1rem;
}

@media (max-width: 991px) {
  .main-navbar .nav-item {
    margin-left: 0;
    margin-left: 0;
  }
  .main-navbar .nav-item:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.main-navbar .nav-link {
  color: #fff !important;
  font-size: .85rem;
  font-weight: 500;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.main-navbar .nav-link:hover {
  color: #ff00d4 !important;
}

.main-navbar .nav-link.active {
  color: #ff00d4 !important;
  position: relative;
}

.main-navbar .nav-link.active::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -22px;
  bottom: 0;
  height: 227%;
  background-color: #fff;
  width: 100%;
  border-bottom: 4px solid;
  z-index: -1;
  -webkit-box-shadow: 0px -3px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -3px 15px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 991px) {
  .main-navbar .nav-link.active {
    border: none;
    color: #ff00d4 !important;
    background-color: #fff !important;
    margin-right: 2rem;
  }
  .main-navbar .nav-link.active::after {
    display: none;
  }
}

@media (max-width: 991px) {
  .main-navbar .nav-link {
    margin-right: 1rem;
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: .5rem;
  }
}

@media (max-width: 991px) {
  .main-navbar {
    max-height: none;
    height: auto;
    background-color: #0479bd;
    padding: 1rem;
    -webkit-box-shadow: 0px -5px 30px 0px #0479bd;
            box-shadow: 0px -5px 30px 0px #0479bd;
  }
}

/*===== End Navbar Rules =====*/
/*===== Start Page header Rules =====*/
.page-header {
  height: 100vh;
  padding: 120px 0;
  background-color: #0479bd;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
}

.page-header .header-title {
  color: #fff;
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  .page-header .header-title {
    font-size: 2rem;
    font-weight: 600;
  }
}

.page-header .header-subtitle {
  color: #e0e4e8;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.page-header .cta-links-area {
  padding: 1rem 0;
}

.page-header .cta-links-area .ma-btn {
  width: 100%;
  margin-bottom: 1.25rem;
}

@media (max-width: 991px) {
  .page-header {
    height: auto;
  }
}

/*===== End Page header Rules =====*/
/*===== Start features Section Rules =====*/
.features .feature-box {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  padding: 4rem 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 1px -3px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 1px -3px 20px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 3rem;
  background-color: #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.features .feature-box:before {
  content: '';
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
}

.features .feature-box:hover {
  -webkit-box-shadow: 1px -3px 50px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 1px -3px 50px 5px rgba(0, 0, 0, 0.25);
}

.features .feature-box:hover:before {
  /*transform: scale(2);*/
  visibility: visible;
  opacity: 1;
}

.features .feature-box:hover .feat-icon {
  opacity: 1;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

.features .feature-box:hover .feat-title {
  opacity: 1;
  -webkit-text-fill-color: #fff;
}

.features .feature-box:hover .feat-text {
  color: #fff;
  background-image: none;
}

.features .feat-icon {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features .feat-title {
  margin-bottom: 1rem;
  text-transform: capitalize;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features .feat-text {
  line-height: 1.8;
  color: #777;
  font-weight: 500;
  letter-spacing: .9px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/*===== End features Section Rules =====*/
/*===== Start info-in-numbers Section Rules =====*/
.info-in-numbers {
  position: relative;
  z-index: 0;
  background-image: url("../../assets/numbers-BG.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
}

.info-in-numbers .overlay {
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
}

.info-in-numbers .section-heading .line-solid-color {
  background-color: #fff;
}

.info-in-numbers .info-box {
  color: #fff;
  text-align: center;
  margin-bottom: 3rem;
}

/*===== End info-in-numbers Section Rules =====*/
.our-video {
  background: url("../assets/video-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-video .overlay {
  background-color: #0479bd;
  opacity: .85;
}

.our-video .play-btn {
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  -webkit-animation: ma-pulse infinite 2s linear;
          animation: ma-pulse infinite 2s linear;
}

.our-video .play-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.our-video .play-btn img.play-icon {
  width: 64px;
  height: 64px;
}

@-webkit-keyframes ma-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 212, 0.5);
            box-shadow: 0 0 0 0 rgba(255, 0, 212, 0.5);
  }
  50% {
    -webkit-box-shadow: 0 0 20px 150px rgba(255, 0, 212, 0);
            box-shadow: 0 0 20px 150px rgba(255, 0, 212, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 212, 0);
            box-shadow: 0 0 0 0 rgba(255, 0, 212, 0);
  }
}

@keyframes ma-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 212, 0.5);
            box-shadow: 0 0 0 0 rgba(255, 0, 212, 0.5);
  }
  50% {
    -webkit-box-shadow: 0 0 20px 150px rgba(255, 0, 212, 0);
            box-shadow: 0 0 20px 150px rgba(255, 0, 212, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 212, 0);
            box-shadow: 0 0 0 0 rgba(255, 0, 212, 0);
  }
}

/*==========================    START gallery SECTION  ==========================*/
.gallery .filter-wraper {
  overflow: hidden;
  margin-bottom: 3rem;
}

.gallery .filter-btn-list {
  padding-top: 5px;
  padding-bottom: 25px;
  margin-bottom: 0;
  border-color: rgba(0, 0, 0, 0);
}

.gallery .filter-btn-list .filter-btn {
  min-width: 80px;
  margin: 5px;
  padding: 5px 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-bottom: 2px solid;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #0479bd;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.gallery .filter-btn-list .filter-btn:hover, .gallery .filter-btn-list .filter-btn.active {
  border-color: #ff00d4;
}

.gallery .filter-group {
  position: relative;
}

.gallery .filter-group .pic-link {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
  z-index: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.gallery .filter-group .pic-link:after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 2;
  opacity: 0;
}

.gallery .filter-group .gallery-item {
  position: relative;
  z-index: 1;
}

.gallery .filter-group .gallery-item .overlay {
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
  z-index: 2;
  opacity: 0;
}

.gallery .filter-group .gallery-item:hover .hidden-info {
  bottom: 20px;
  opacity: 1;
}

.gallery .filter-group .gallery-item:hover .pic-link:after {
  opacity: .5;
}

.gallery .filter-group .gallery-item img {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 400px;
  height: 250px;
  min-width: 100%;
}

.gallery .filter-group .gallery-item .info-link {
  display: block;
  text-decoration: none;
  font-size: 1.25rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.gallery .filter-group .gallery-item span {
  font-size: .85rem;
  display: block;
}

.gallery .filter-group .gallery-item .hidden-info {
  position: absolute;
  right: 20px;
  bottom: 15px;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 5;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.gallery .filter-group .gallery-item .hidden-info > span {
  color: #fff;
}

.gallery .filter-group .gallery-item .hidden-info > .info-link {
  color: #fff;
}

.gallery .filter-group .gallery-item .hidden-info > .info-link:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  font-weight: 600;
}

/*  ==========================END gallery SECTION  ==========================*/
/* ===== Start Our Team Rules ===== */
.our-team .tm-member-card {
  position: relative;
  border-radius: .5rem .5rem 0 0;
  overflow: hidden;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  -webkit-box-shadow: 1px -3px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 1px -3px 20px 0px rgba(0, 0, 0, 0.25);
}

.our-team .tm-member-card:hover {
  -webkit-box-shadow: 1px -3px 50px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 1px -3px 50px 5px rgba(0, 0, 0, 0.25);
}

.our-team .tm-member-card:hover .tm-image::before {
  opacity: .5;
}

.our-team .tm-member-card:hover .tm-image .tm-desc {
  visibility: visible;
  opacity: 1;
  bottom: 0;
}

.our-team .tm-member-card .tm-image {
  position: relative;
  overflow: hidden;
}

.our-team .tm-member-card .tm-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 0;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
}

.our-team .tm-member-card .tm-image img {
  width: 100%;
}

.our-team .tm-member-card .tm-image .tm-desc {
  position: absolute;
  right: 0;
  bottom: -100%;
  top: auto;
  padding: 1rem;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.our-team .tm-member-card .tm-details {
  padding: 1rem;
}

.our-team .tm-member-card .tm-details .tm-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.our-team .tm-member-card .tm-details .tm-role {
  font-size: .8rem;
  font-weight: 500;
  color: #0479bd;
}

/* ===== End  Our Team Rules ===== */
/*===== Start Pricing section rules =====*/
@media (max-width: 991px) {
  .pricing .price-plan:not(:last-of-type) {
    margin-bottom: 3rem;
  }
}

.pricing .plan {
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-box-shadow: 1px -3px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 1px -3px 20px 0px rgba(0, 0, 0, 0.25);
}

.pricing .plan:hover {
  -webkit-box-shadow: 1px -3px 50px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 1px -3px 50px 5px rgba(0, 0, 0, 0.25);
}

.pricing .plan:hover .plan-cost {
  background-position: 30% 30%;
}

.pricing .plan .plan-cost {
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
}

.pricing .plan .plan-cost .plane-name {
  color: #fff;
  font-weight: 600;
  font-size: 1.75rem;
}

.pricing .plan .plan-cost .plan-price {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}

.pricing .plan .plan-cost .plan-price .plan-currency {
  position: relative;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  top: -1rem;
  right: -.5rem;
  line-height: 0;
  vertical-align: baseline;
  display: inline-block;
}

.pricing .plan .plan-cost .plan-desc {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  color: #fff;
}

.pricing .plan .plan-details {
  padding: 1rem .5rem;
}

.pricing .plan .plan-details .plan-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pricing .plan .plan-details .plan-list > .plan-feat {
  position: relative;
  padding: .75rem 0;
  font-size: 1rem;
  font-weight: 500;
  color: #0479bd;
}

.pricing .plan .plan-details .plan-list > .plan-feat::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 10px;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pricing .plan .plan-details .plan-list > .plan-feat.on-plan::before {
  content: "\f00c";
}

.pricing .plan .plan-details .plan-list > .plan-feat.out-plan::before {
  content: "\f00d";
}

.pricing .plan .plan-details .plan-list > .plan-feat:not(:last-of-type)::after {
  content: '';
  display: block;
  width: 65%;
  height: 1px;
  position: absolute;
  bottom: 0;
  top: auto;
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: .5;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
}

.pricing .plan .plan-cta {
  margin-bottom: 2rem;
}

/*===== End Pricing section rules =====*/
/* ===== Start FAQ section Rules ====== */
.faq {
  /*Start FAQ-Accordion Rules*/
  /*End FAQ-Accordion Rules*/
}

.faq .faq-accordion {
  margin-bottom: 3rem;
}

.faq .faq-accordion .card {
  border-color: #ff00d4;
}

.faq .faq-accordion .card-header {
  position: relative;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
}

.faq .faq-accordion .card-header .faq-btn {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  text-align: right;
  text-decoration: none;
  border-radius: 0;
  font-weight: bold;
  white-space: normal;
  color: #fff;
}

.faq .faq-accordion .card-header .faq-btn::before {
  content: "\f068";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 30px;
  right: auto;
}

.faq .faq-accordion .card-header .faq-btn.collapsed::before {
  content: "\f067";
}

.faq .faq-accordion .card-body .faq-answer {
  font-weight: 500;
  color: #0479bd;
}

/* =====End FAQ section Rules ====== */
/*==========================  START TESTMOIALS SECTION  ==========================*/
.testmonials .testmonial-content {
  max-width: 75%;
  margin: 15px auto;
  border-radius: 1rem 1rem .25rem .25rem;
  -webkit-box-shadow: 0px -3px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -3px 15px 0px rgba(0, 0, 0, 0.25);
}

.testmonials .testmonial-content .content .testmonial-text {
  overflow-y: auto;
  font-weight: 500;
  font-style: italic;
  color: #0479bd;
}

.testmonials .testmonial-content .customer-info {
  margin-top: 0;
  margin-bottom: 20px;
}

.testmonials .testmonial-content .customer-info img {
  padding: 3px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testmonials .testmonial-content .customer-info .customer-details {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
  display: inline-block;
}

.testmonials .testmonial-content .customer-info .customer-details .customer-name {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testmonials .testmonial-content .customer-info .customer-details .customer-role {
  font-size: .85rem;
  margin-bottom: 0;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 991px) {
  .testmonials .testmonial-content .customer-testmonial {
    padding: 0 10px;
  }
}

.testmonials .testmonial-content .icon {
  display: block;
  font-size: 60px;
  opacity: .65;
  margin: 1rem;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*==========================  END TESTMOIALS SECTION  ==========================*/
.contact-us {
  /*Start user-form Rules*/
  /*End user-form Rules*/
}

.contact-us .user-form {
  margin-bottom: 3rem;
}

.contact-us .user-form label {
  margin: 0;
  font-size: .85rem;
  font-weight: 600;
  color: #0479bd;
}

.contact-us .user-form input[type=email],
.contact-us .user-form input[type=text],
.contact-us .user-form input[type=password],
.contact-us .user-form textarea {
  display: block;
  width: 100%;
  padding: 5px;
  outline: none;
  border: 1px solid;
  border-radius: .25rem;
  margin-bottom: .4rem;
  -webkit-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
  border-color: rgba(255, 0, 212, 0.5);
}

.contact-us .user-form input[type=email]:focus,
.contact-us .user-form input[type=text]:focus,
.contact-us .user-form input[type=password]:focus,
.contact-us .user-form textarea:focus {
  border-color: #ff00d4;
}

.contact-us .user-form textarea {
  min-height: 7rem;
  margin-bottom: 1rem;
}

.contact-us .contact-info-card {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0px -3px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -3px 15px 0px rgba(0, 0, 0, 0.25);
}

.contact-us .contact-info-card .icon {
  font-size: 1.5rem;
  margin-left: .5rem;
  vertical-align: middle;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-us .contact-info-card .info {
  font-size: .85rem;
  font-weight: 600;
  text-decoration: none;
  color: #0479bd;
}

.contact-us .contact-info-card .info:hover {
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #0479bd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-us .contact-info-card:hover {
  -webkit-box-shadow: 0px -3px 50px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -3px 50px 0px rgba(0, 0, 0, 0.25);
}

/*Start contact-us section Rules*/
.take-action .cta-wrapper {
  padding: 60px 0;
  color: #fff;
}

@media (max-width: 991px) {
  .take-action .cta-wrapper .cta-title {
    margin-bottom: 1.25rem;
  }
}

/*End contact-us section Rules*/
.our-clients {
  background-color: #e0e4e8;
}

.page-footer {
  background-color: #e0e4e8;
  padding: 20px 0;
  text-align: center;
}

.page-footer .footer-brand {
  text-decoration: none;
  display: inline-block;
  width: auto;
}

.page-footer .footer-brand img {
  width: 150px;
}

@media (max-width: 991px) {
  .page-footer .footer-brand img {
    width: 120px;
  }
}

.page-footer .copyrights {
  display: block;
  text-align: center;
  color: #0479bd;
  font-size: .8rem;
  font-weight: 500;
  margin: 0;
}

/*End Importing Layouts Rules */
/*# sourceMappingURL=main-RTL.css.map */