@charset "UTF-8";
/*** LTR websites ***/
/*Start importing global Helpers */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i ");
body {
  font-family: 'Montserrat', sans-serif;
  direction: ltr;
  text-align: left;
}

.mega-section {
  padding: 80px 0;
}

.elf-section {
  padding: 60px 0;
}

.section-heading {
  margin-bottom: 3rem;
}

.section-title {
  text-align: center;
  font-size: 2.25rem;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 1.75rem;
  }
}

.text-gradient-color {
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #1488CC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-color {
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #1488CC);
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.line-gradient-color {
  display: block;
  width: 75px;
  height: 4px;
  border-radius: 0 6px;
  margin: 1rem auto;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #1488CC);
}

.line-solid-color {
  display: block;
  width: 75px;
  height: 4px;
  border-radius: 0 6px;
  margin: 1rem auto;
  background-color: #2B32B2;
}

/*  to enable any element that previously had the .disabled-element class.  */
.enabeld-element {
  opacity: 1;
  pointer-events: auto;
}

/*  to disable any element and prevent the mouse action on it  */
.disabled-element {
  opacity: .2;
  pointer-events: none;
}

.see-more-area {
  display: block;
}

/*ُEnd importing global Helpers */
/*Start global components rules */
.ma-btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  padding: .75rem 1.5rem;
  border-radius: .25rem;
  width: auto;
  -webkit-box-shadow: 0 3px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 30px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.ma-btn:hover {
  text-decoration: none;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.ma-btn-primary {
  color: #fff !important;
  background-color: #ff00d4;
  border-color: #ff00d4;
}

.ma-btn-primary:hover {
  background: #2B32B2;
}

.ma-btn-secondary {
  border-color: #fff;
  color: #fff !important;
  background-color: transparent;
}

.ma-btn-secondary:hover {
  background-color: #fff;
  color: #ff00d4 !important;
  border-color: #fff;
}

.ma-btn-navbar {
  width: auto;
  padding: .25rem 1rem;
  margin-left: .5rem;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .ma-btn-navbar {
    margin-left: 0;
    margin-top: .75rem;
    margin-bottom: 1.25rem;
  }
}

/* Start Social Icons Styles */
.sc-holder {
  text-align: center;
  padding: .75rem 0;
}

.sc-holder .sc-title {
  display: inline-block;
  margin-right: 20px;
}

.sc-holder .sc-title i.fa {
  margin-right: 5px;
}

.sc-holder .sc-list {
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style: none;
}

.sc-holder .sc-list .sc-item {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #1488CC);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.sc-holder .sc-list .sc-item:last-of-type {
  margin-right: 0;
}

.sc-holder .sc-list .sc-item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.sc-holder .sc-list .sc-icon {
  text-align: center;
  border-radius: 50%;
  color: #fff !important;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.sc-holder .sc-size-40 .sc-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}

.sc-holder .sc-size-32 .sc-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
}

.sc-holder .sc-size-24 .sc-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
}

/*  End Social Icons Styles  */
/*End global components rules */
/*Start Importing Layouts Rules */
/*===== Start Navbar Rules =====*/
.ma-navbar {
  max-height: 80px;
  height: 80px;
  background-image: #1488CC;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #1488CC);
}

.ma-navbar .navbar-brand {
  color: #fff !important;
  font-weight: 500;
}

@media (max-width: 991px) {
  .ma-navbar .navbar-brand {
    margin: 0;
  }
}

.ma-navbar .navbar-toggler {
  padding: 5px;
}

.ma-navbar .navbar-toggler .navbar-toggler-icon {
  background-image: none;
  height: 100%;
  display: block;
}

.ma-navbar .navbar-toggler .navbar-toggler-icon > span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.ma-navbar .navbar-toggler .navbar-toggler-icon > span:not(:last-child) {
  margin-bottom: 5px;
}

.ma-navbar .navbar-nav {
  padding: 0;
}

.ma-navbar .nav-item {
  margin-right: 2rem;
}

@media (max-width: 991px) {
  .ma-navbar .nav-item {
    margin-right: 0;
  }
}

.ma-navbar .nav-link {
  color: #fff !important;
  font-weight: 400;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.ma-navbar .nav-link:hover {
  color: #ff00d4 !important;
}

@media (max-width: 991px) {
  .ma-navbar {
    max-height: none;
    height: auto;
    background-color: #2B32B2;
    padding: 1rem;
    -webkit-box-shadow: 0px 5px 30px 0px #2B32B2;
            box-shadow: 0px 5px 30px 0px #2B32B2;
  }
}

/*===== End Navbar Rules =====*/
/*===== Start Page header Rules =====*/
.page-header {
  height: 100vh;
  padding: 120px 0;
  background-color: #1488CC;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #1488CC);
}

.page-header .header-title {
  color: #fff;
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  .page-header .header-title {
    font-size: 2rem;
    font-weight: 600;
  }
}

.page-header .header-subtitle {
  color: #e0e4e8;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.page-header .cta-links-area {
  padding: 1rem 0;
}

.page-header .cta-links-area .ma-btn {
  width: 100%;
  margin-bottom: 1.25rem;
}

@media (max-width: 991px) {
  .page-header {
    height: auto;
  }
}

/*===== End Page header Rules =====*/
/*===== Start features Section Rules =====*/
.features .feature-box {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  padding: 4rem 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 3rem;
  background-color: #fff;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.features .feature-box:before {
  content: '';
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #1488CC);
}

.features .feature-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.features .feature-box:hover:before {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.features .feature-box:hover .feat-icon {
  opacity: 1;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

.features .feature-box:hover .feat-title {
  opacity: 1;
  -webkit-text-fill-color: #fff;
}

.features .feature-box:hover .feat-text {
  color: #fff;
  background-image: none;
}

.features .feat-icon {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #1488CC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features .feat-title {
  margin-bottom: 1rem;
  text-transform: capitalize;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #1488CC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features .feat-text {
  line-height: 1.8;
  color: #777;
  font-weight: 500;
  letter-spacing: .9px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/*===== End features Section Rules =====*/
/*===== Start info-in-numbers Section Rules =====*/
.info-in-numbers {
  position: relative;
  z-index: 0;
  background-image: url("../../assets/numbers-BG.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
}

.info-in-numbers .overlay {
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #1488CC);
}

.info-in-numbers .section-heading .line-solid-color {
  background-color: #fff;
}

.info-in-numbers .info-box {
  color: #fff;
  text-align: center;
  margin-bottom: 3rem;
}

/*===== End info-in-numbers Section Rules =====*/
.our-video {
  background: url("../assets/video-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.our-video .overlay {
  background-color: #2B32B2;
  opacity: .85;
}

.our-video .play-btn {
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #1488CC);
  border: 1px solid linear-gradient-bg();
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  -webkit-animation: ma-pulse infinite 2s linear;
          animation: ma-pulse infinite 2s linear;
}

.our-video .play-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.our-video .play-btn img.play-icon {
  width: 64px;
  height: 64px;
}

@-webkit-keyframes ma-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 212, 0.5);
            box-shadow: 0 0 0 0 rgba(255, 0, 212, 0.5);
  }
  50% {
    -webkit-box-shadow: 0 0 20px 150px rgba(255, 0, 212, 0);
            box-shadow: 0 0 20px 150px rgba(255, 0, 212, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 212, 0);
            box-shadow: 0 0 0 0 rgba(255, 0, 212, 0);
  }
}

@keyframes ma-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 212, 0.5);
            box-shadow: 0 0 0 0 rgba(255, 0, 212, 0.5);
  }
  50% {
    -webkit-box-shadow: 0 0 20px 150px rgba(255, 0, 212, 0);
            box-shadow: 0 0 20px 150px rgba(255, 0, 212, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 212, 0);
            box-shadow: 0 0 0 0 rgba(255, 0, 212, 0);
  }
}

/*==========================    START gallery SECTION  ==========================*/
.gallery .filter-wraper {
  overflow: hidden;
  margin-bottom: 3rem;
}

.gallery .filter-btn-list {
  padding-top: 5px;
  padding-bottom: 25px;
  margin-bottom: 0;
  border-color: rgba(0, 0, 0, 0);
}

.gallery .filter-btn-list .filter-btn {
  min-width: 80px;
  margin: 5px;
  padding: 5px 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-bottom: 2px solid;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #2B32B2;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.gallery .filter-btn-list .filter-btn:hover {
  border-color: #2B32B2;
}

.gallery .filter-btn-list .filter-btn.active {
  border-color: #2B32B2;
}

.gallery .filter-group {
  position: relative;
}

.gallery .filter-group .pic-link {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
  z-index: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.gallery .filter-group .pic-link:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #1488CC);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 2;
  opacity: 0;
}

.gallery .filter-group .gallery-item {
  position: relative;
  z-index: 1;
}

.gallery .filter-group .gallery-item .overlay {
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #1488CC);
  z-index: 2;
  opacity: 0;
}

.gallery .filter-group .gallery-item:hover .hidden-info {
  bottom: 20px;
  opacity: 1;
}

.gallery .filter-group .gallery-item:hover .pic-link:after {
  opacity: .5;
}

.gallery .filter-group .gallery-item img {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 400px;
  height: 250px;
  min-width: 100%;
}

.gallery .filter-group .gallery-item .info-link {
  display: block;
  text-decoration: none;
  font-size: 1.25rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.gallery .filter-group .gallery-item span {
  font-size: .85rem;
  display: block;
}

.gallery .filter-group .gallery-item .hidden-info {
  position: absolute;
  left: 20px;
  bottom: 15px;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 5;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.gallery .filter-group .gallery-item .hidden-info > span {
  color: #fff;
}

.gallery .filter-group .gallery-item .hidden-info > .info-link {
  color: #fff;
}

.gallery .filter-group .gallery-item .hidden-info > .info-link:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  font-weight: 600;
}

/*  ==========================END gallery SECTION  ==========================*/
/* ===== Start Our Team Rules ===== */
.our-team .tm-member-card {
  position: relative;
  border-radius: .5rem .5rem 0 0;
  overflow: hidden;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  -webkit-box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.25);
}

.our-team .tm-member-card:hover {
  -webkit-box-shadow: 10px 15px 50px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 15px 50px 0px rgba(0, 0, 0, 0.25);
}

.our-team .tm-member-card:hover .tm-image::before {
  opacity: .5;
}

.our-team .tm-member-card:hover .tm-image .tm-desc {
  visibility: visible;
  opacity: 1;
  bottom: 0;
}

.our-team .tm-member-card .tm-image {
  position: relative;
  overflow: hidden;
}

.our-team .tm-member-card .tm-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 0;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #1488CC);
}

.our-team .tm-member-card .tm-image img {
  width: 100%;
}

.our-team .tm-member-card .tm-image .tm-desc {
  position: absolute;
  left: 0;
  bottom: -100%;
  top: auto;
  padding: 1rem;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.our-team .tm-member-card .tm-details {
  padding: 1rem;
}

.our-team .tm-member-card .tm-details .tm-name {
  font-size: 1.25rem;
  font-weight: 600;
}

/* ===== End  Our Team Rules ===== */
/*===== Start Pricing section rules =====*/
.pricing .plan {
  overflow: hidden;
  -webkit-box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1rem 1rem 0 0;
}

.pricing .plan .plan-cost {
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.pricing .plan .plan-cost .plane-name {
  color: #fff;
  font-weight: 600;
  font-size: 1.75rem;
}

.pricing .plan .plan-cost .plan-price {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}

.pricing .plan .plan-cost .plan-price .plan-currency {
  position: relative;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  top: -1rem;
  left: -.5rem;
  line-height: 0;
  vertical-align: baseline;
  display: inline-block;
}

.pricing .plan .plan-cost .plan-desc {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  color: #fff;
}

.pricing .plan .plan-details {
  padding: 1rem .5rem;
}

.pricing .plan .plan-details .plan-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pricing .plan .plan-details .plan-list > li {
  padding: .5rem 0;
}

.pricing .plan .plan-details .plan-list > li > i {
  margin-right: 10px;
  font-size: 1rem;
  background-image: -webkit-linear-gradient(45deg, #ff00d4, #1488CC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pricing .plan .plan-cta {
  margin-bottom: 2rem;
}

/*===== End Pricing section rules =====*/
/*End Importing Layouts Rules */
/*# sourceMappingURL=main-LTR.css.map */