@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i, ');
body {
    font-family: 'Montserrat', sans-serif;
    direction: $direction;
    text-align: $start-direction;
}

.mega-section {
    padding: 120px 0;
}

.section-heading {
    margin-bottom: 3rem;
    &:after {
        content: '';
        @include add-line();
    }
}

.section-title {
    text-align: center;
    font-size: 2.25rem;
}

.text-gradient-color {
    @include linear-gradient-text();
}