@import url('https://fonts.googleapis.com/css?family=Montserrat:500,500i,600,600i,700,700i');
body {
    font-family: 'Montserrat', sans-serif;
    direction: $direction;
    text-align: $start-direction;
}