/*colors varibales*/

$ma-main-color :#2B32B2;
$ma-accent-color :rgb(255, 0, 212);
$ma-white-color:#fff;
$ma-gray-color:#e0e4e8;
$ma-gradient-color-1:#1488CC;
$ma-gradient-color-2: #2B32B2;
/*font varibales*/

$font-w-bold:600;
$font-w-medium:500;
$font-w-thin:400;