/*===== Start features Section Rules =====*/

.features {
    .feature-box {
        position: relative;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        padding: 4rem 2rem;
        border-radius: 1rem;
        @include ma-box-shadow(1, 3, 20, 0, $transparent-black-25);
        margin-bottom: 3rem;
        background-color: $ma-white-color;
        transition: all .5s ease-in-out;
        &:before {
            //to add custom overlay over the .feature-box
            content: '';
            visibility: hidden;
            opacity: 0;
            transition: all .5s ease-in-out;
            @include add-overlay(); // to add the strucure of the overlay
            @include linear-gradient-bg(); // to add the Backgroung-color of the overlay
        }
        &:hover {
            @include ma-box-shadow(1, 3, 50, 5, $transparent-black-25);
            &:before {
                /*transform: scale(2);*/
                visibility: visible;
                opacity: 1;
            }
            .feat-icon {
                opacity: 1;
                color: $ma-white-color;
                -webkit-text-fill-color: $ma-white-color;
            }
            .feat-title {
                opacity: 1;
                -webkit-text-fill-color: $ma-white-color;
            }
            .feat-text {
                color: $ma-white-color;
                background-image: none;
            }
        }
    }
    .feat-icon {
        font-size: 4rem;
        margin-bottom: 1.5rem; // opacity: .65;
        transition: all .5s ease-in-out;
        @include linear-gradient-text();
    }
    .feat-title {
        margin-bottom: 1rem;
        text-transform: capitalize; // opacity: .65;
        transition: all .5s ease-in-out;
        @include linear-gradient-text();
    }
    .feat-text {
        line-height: 1.8;
        color: $ma-dark-grey-color;
        font-weight: $font-w-medium;
        letter-spacing: .9px;
        transition: all .5s ease-in-out;
    }
}

/*===== End features Section Rules =====*/