/*==========================    START gallery SECTION  ==========================*/

.gallery {
    .filter-wraper {
        overflow: hidden;
        margin-bottom: 3rem;
    }
    .filter-btn-list {
        padding-top: 5px;
        padding-bottom: 25px;
        margin-bottom: 0;
        border-color: $transparent;
        .filter-btn {
            min-width: 80px;
            margin: 5px;
            padding: 5px 10px;
            text-align: center;
            font-size: 1rem;
            font-weight: $font-w-medium;
            letter-spacing: 1px;
            border-bottom: 2px solid;
            transition: all .3s ease-in-out;
            color: $ma-main-color;
            background-color: $transparent;
            border-color: $transparent;
            cursor: pointer;
            &:hover,
            &.active {
                border-color: $ma-accent-color;
            }
        }
    }
    .filter-group {
        position: relative;
        .pic-link {
            position: relative;
            display: block;
            overflow: hidden;
            outline: none;
            z-index: 1;
            transition: all .3s ease-in-out;
            &:after {
                content: '';
                @include add-overlay();
                @include linear-gradient-bg();
                transition: all .3s ease-in-out;
                z-index: 2;
                opacity: 0;
            }
        }
        .gallery-item {
            position: relative;
            z-index: 1;
            .overlay {
                @include linear-gradient-bg();
                z-index: 2;
                opacity: 0;
            }
            &:hover {
                .hidden-info {
                    bottom: 20px;
                    opacity: 1;
                }
                .pic-link:after {
                    opacity: .5;
                }
            }
            img {
                transition: all .3s ease-in-out;
                width: 400px;
                height: 250px;
                min-width: 100%;
                object-fit: cover;
            }
            .info-link {
                display: block;
                text-decoration: none;
                font-size: 1.25rem;
                transition: all .3s ease-in-out;
            }
            span {
                font-size: .85rem;
                display: block;
            }
            .hidden-info {
                position: absolute;
                #{$start-direction}: 20px;
                bottom: 15px;
                padding: 0;
                margin: 0;
                opacity: 0;
                z-index: 5;
                transition: all .3s ease-in-out;
                &>span {
                    color: $ma-white-color;
                }
                &>.info-link {
                    color: $ma-white-color;
                    &:hover {
                        transform: scale(1.025);
                        font-weight: $font-w-bold;
                    }
                }
            }
        }
    }
}

/*  ==========================END gallery SECTION  ==========================*/