/*==========================    START gallery SECTION  ==========================*/

.gallery {
    .filter-wraper {
        overflow: hidden;
    }
    .filter-btn-list {
        padding-top: 5px;
        padding-bottom: 25px;
        margin-bottom: 0;
        border-color: $transparent;
        .filter-btn {
            min-width: 80px;
            margin: 5px;
            padding: 5px 10px;
            text-align: center;
            font-size: 1rem;
            font-weight: $font-w-medium;
            letter-spacing: 1px;
            border-bottom: 2px solid;
            transition: all .3s ease-in-out;
            color: $ma-main-color;
            background-color: $transparent;
            border-color: $transparent;
            cursor: pointer;
            &:hover {
                border-color: $ma-main-color;
            }
            &.active {
                border-color: $ma-main-color;
            }
        }
    }
    .filter-group {
        position: relative;
        .pic-link {
            position: relative;
            display: block;
            overflow: hidden;
            outline: none;
            z-index: 1;
            transition: all .3s ease-in-out;
            &:after {
                content: '';
                position: absolute;
                display: block;
                #{$start-direction}: 0;
                top: 0;
                bottom: 0;
                #{$end-direction}: 0;
                transition: background-color .6s ease-in-out;
            }
        }
        .gallery-item {
            position: relative;
            &:hover {
                .hidden-info {
                    bottom: 20px;
                    opacity: 1;
                }
                a.pic-link:after {
                    background-color: $transparent-black-50;
                }
            }
            img {
                transition: all .3s ease-in-out;
                width: 500px;
                height: 300px;
                min-width: 100%;
            }
            .info-link {
                display: block;
                text-decoration: none;
                font-size: 1.25rem;
                transition: all .3s ease-in-out;
            }
            span {
                font-size: .85rem;
                display: block;
            }
            @media(max-width:991px) {
                .info-link {
                    font-size: 1rem;
                }
                span {
                    font-size: .75rem;
                }
            }
            @media(max-width:576px) {
                .info-link {
                    font-size: .85rem;
                }
                span {
                    font-size: .65rem;
                }
            }
            .hidden-info {
                position: absolute;
                #{$start-direction}: 10px;
                bottom: 15px;
                padding: 0;
                margin: 0;
                opacity: 0;
                z-index: 5;
                transition: all .3s ease-in-out;
                &>span {
                    color: $ma-white-color;
                }
                &>a.info-link {
                    color: $ma-white-color;
                    &:hover {
                        color: $ma-main-color;
                    }
                }
            }
        }
    }
}

/*  ==========================END gallery SECTION  ==========================*/