/*===== Start Page header Rules =====*/

.page-header {
    margin-top: $navbar-hieght;
    height: calc(100vh - #{$navbar-hieght});
    padding: 120px 0;
    @include solid-color-bg(); //gradients fallback for old browsers 
    @include linear-gradient-bg();
    @include ma-md-and-under-screens {
        padding: 40px 0;
    }
    .header-title {
        @include solid-color-text($ma-white-color);
        font-weight: $font-w-medium;
        font-size: 3rem;
        margin-bottom: 1rem;
        @include ma-md-and-under-screens {
            font-size: 2rem;
        }
    }
    .header-text-area {
        text-align: #{$start-direction};
        @include ma-md-and-under-screens {
            text-align: center;
            margin-bottom: 3rem;
        }
    }
    .header-subtitle {
        @include solid-color-text($ma-grey-color);
        font-size: 1.25rem;
        font-weight: $font-w-thin;
        margin-bottom: 2rem;
    }
    .cta-links-area {
        .cta-link {
            margin-bottom: 0;
            &:not(:last-child) {
                margin-#{$end-direction}: 1rem;
            }
            @include ma-md-and-under-screens {
                &:not(:last-child) {
                    margin-bottom: 1rem;
                    margin-#{$end-direction}: .5rem;
                }
            }
        }
    }
    @include ma-md-and-under-screens {
        height: auto;
    }
}

/*===== End Page header Rules =====*/