/*===== Start Page header Rules =====*/

.page-header {
    margin-top: $navbar-hieght;
    height: calc(100vh - #{$navbar-hieght});
    padding: 120px 0;
    background-color: $ma-main-color; //gradients fallback for old browsers 
    @include linear-gradient-bg();
    .header-title {
        color: $ma-white-color;
        font-weight: $font-w-medium;
        font-size: 3rem;
        margin-bottom: 1rem;
        @media (max-width: 991px) {
            font-size: 2rem;
            font-weight: 600;
        }
    }
    .header-subtitle {
        color: $ma-grey-color;
        font-size: 1.25rem;
        font-weight: $font-w-thin;
        margin-bottom: 1rem;
        @media (max-width: 991px) {}
    }
    .cta-links-area {
        padding: 1rem 0;
        .ma-btn {
            width: 100%;
            margin-bottom: 1.25rem;
        }
    }
    @media (max-width: 991px) {
        height: auto;
    }
}

/*===== End Page header Rules =====*/