/*===== Start Navbar Rules =====*/

.main-navbar {
    max-height: $navbar-hieght;
    height: $navbar-hieght;
    background-color: $ma-main-color; //gradients fallback for old browsers 
    @include linear-gradient-bg();
    @media(max-width: 991px) {
        padding: 0;
        max-height: none;
        height: auto;
        background-color: $ma-main-color;
        @include ma-box-shadow(0, 5, 30, 0, $ma-main-color);
    }
    .navbar-brand {
        color: $ma-white-color !important;
        font-weight: $font-w-medium;
        width: 150px;
        @media(max-width: 991px) {
            width: 100px;
            margin-#{$start-direction}: 1rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
    }
    .navbar-toggler {
        padding: 5px;
        .navbar-toggler-icon {
            background-image: none;
            height: 100%;
            display: block;
            &>span {
                display: block;
                width: 100%;
                height: 2px;
                background-color: $ma-white-color;
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
        }
        @media(max-width: 991px) {
            margin-#{$end-direction}: 1rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
    }
    .navbar-nav {
        padding: 0
    }
    .nav-item {
        margin-#{$end-direction}: 1rem;
        @media (max-width: 991px) {
            margin:0;
        }
    }
    .nav-link {
        color: $ma-white-color !important;
        font-size: .85rem;
        font-weight: $font-w-medium;
        padding: .5rem 1rem !important;
        transition: all .5s ease-in-out;
        border-bottom: 2px solid $transparent;
        @media (max-width: 991px) {
            padding: 1.5rem 1rem !important;
        }
        &:hover {
            color: $ma-accent-color !important;
            @media(max-width: 991px) {
                border-color: $ma-accent-color !important;
                background-color: $ma-white-color;
            }
        }
        &.active {
            color: $ma-accent-color !important; // border-bottom: 2px solid $ma-accent-color;
            position: relative;
            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: -16px;
                bottom: 0;
                height: 70px;
                background-color: $ma-white-color;
                width: 100%;
                border-bottom: 4px solid;
                z-index: -1;
                @include ma-box-shadow(0, 3, 15, 0, $transparent-black-25);
                @media(max-width: 991px) {
                    border-color: $ma-accent-color !important;
                    background-color: $ma-white-color;
                }
            }
            @media (max-width: 991px) {
                border-color: $ma-accent-color !important;
                color: $ma-accent-color !important;
                background-color: $ma-white-color !important;
                &::after {
                    display: none;
                }
            }
        }
    }
}

/*===== End Navbar Rules =====*/