.ma-navbar {
    max-height: 80px;
    height: 80px;
    background-image: $ma-gradient-color-1; //gradients fallback for old browsers 
    @include linear-gradient-bg();
    .navbar-brand {
        color: $ma-white-color !important;
        font-weight: $font-w-medium;
        @media(max-width: 991px) {
            margin: 0;
        }
    }
    .navbar-toggler {
        padding: 5px;
        .navbar-toggler-icon {
            background-image: none;
            height: 100%;
            display: block;
            &>span {
                display: block;
                width: 100%;
                height: 2px;
                background-color: $ma-accent-color;
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
        }
    }
    .navbar-nav {
        padding: 0
    }
    .nav-item {
        margin-#{$end-direction}: 2rem;
        @media (max-width: 991px) {
            margin-#{$end-direction}:0;
        }
    }
    .nav-link {
        color: $ma-white-color !important;
        font-weight: $font-w-thin;
        transition: all .3s;
        &:hover {
            color: $ma-accent-color !important;
        }
    }
    @media (max-width:991px) {
        max-height: none;
        height: auto;
        background-color: $ma-main-color;
        padding: 1rem;
        box-shadow: 0 ( 5px * $y-axe-direction) 30px $ma-main-color;
    }
}