.our-services {
    .content-block {
        position: relative;
        padding: 5rem 0;
        @media(max-width: 991px) {
            padding: 2rem 0; // text-align: center;
        }
        .service-num {
            position: absolute;
            #{$start-direction}: 80%;
            top: 50px;
            transform: translateX(-50%);
            font-size: 10rem;
            font-weight: bold;
            opacity: .25;
            z-index: -1;
            @include linear-gradient-text();
        }
    }
    .icon {
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-radius: 50%;
        font-size: 2rem;
        margin-bottom: 2rem;
        @include solid-color-text($ma-white-color);
        @include linear-gradient-bg();
        @include ma-box-shadow(0, 5, 15, 0, $transparent-black-25);
    }
    .ma-service-heading {
        font-size: 1.75rem;
        margin-bottom: 1.25rem;
        @include linear-gradient-text();
    }
    .ma-service-text {
        font-weight: $font-w-medium;
        margin-bottom: 3rem;
        @include solid-color-text();
    }
}