.our-services {
    .ma-service {
        padding: 5rem 0;
        &:last-of-type {
            padding: 0;
        }
        @include ma-md-and-under-screens {
            padding: 2rem 0;
        }
    }
    .ma-service-image {
        margin-bottom: 0;
        @include ma-md-and-under-screens {
            margin-bottom: 2rem;
        }
    }
    .content-block {
        position: relative;
        .service-num {
            position: absolute;
            #{$end-direction}: 0;
            #{$start-direction}: auto;
            top: 0%;
            font-size: 10rem;
            font-weight: bold;
            opacity: .25;
            z-index: -1;
            line-height: 75%;
            @include linear-gradient-text();
        }
    }
    .icon {
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-radius: 50%;
        font-size: 2rem;
        margin-bottom: 2rem;
        @include solid-color-text($ma-white-color);
        @include linear-gradient-bg();
        @include ma-box-shadow(0, 5, 15, 0, $transparent-black-25);
    }
    .ma-service-heading {
        font-size: 1.75rem;
        margin-bottom: 1.25rem;
        @include linear-gradient-text();
    }
    .ma-service-text {
        font-weight: $font-w-medium;
        margin-bottom: 3rem;
    }
}