.page-footer {
    padding: 20px 0;
    text-align: center;
    @include solid-color-bg($ma-grey-color);
    .footer-brand {
        text-decoration: none;
        display: inline-block;
        width: auto;
        img {
            width: 150px;
            @include ma-md-and-under-screens {
                width: 120px;
            }
        }
    }
    .copyrights {
        display: block;
        text-align: center;
        @include solid-color-text();
        font: {
            size: .8rem;
            weight: $font-w-medium;
        }
        margin: 0;
    }
}