/*===== Start Pricing section rules =====*/

.pricing {
    .price-plan {
        &:not(:last-of-type) {
            @include ma-md-and-under-screens {
                margin-bottom: 3rem;
            }
        }
    }
    .plan {
        overflow: hidden;
        border-radius: 1rem 1rem 0 0;
        @include ma-transition(all, .3s);
        @include ma-box-shadow(1, 3, 20, 0, $transparent-black-25);
        &:hover {
            @include ma-box-shadow(1, 3, 50, 5, $transparent-black-25);
        }
        .plan-cost {
            position: relative;
            padding-top: 2.5rem;
            padding-bottom: 1rem;
            @include linear-gradient-bg();
            .plane-name {
                @include solid-color-text( $ma-white-color);
                font-weight: $font-w-bold;
                font-size: 1.75rem;
            }
            .plan-price {
                font-size: 3rem;
                font-weight: $font-w-bold;
                @include solid-color-text( $ma-white-color);
                .plan-currency {
                    position: relative;
                    @include solid-color-text( $ma-white-color);
                    font-size: 1.5rem;
                    font-weight: $font-w-thin;
                    top: -1rem;
                    #{$start-direction}: -.5rem;
                    line-height: 0;
                    vertical-align: baseline;
                    display: inline-block;
                }
            }
            .plan-desc {
                display: block;
                font-size: 1rem;
                font-weight: $font-w-medium;
                font-style: italic;
                @include solid-color-text( $ma-white-color);
            }
        }
        .plan-details {
            padding: 1rem .5rem;
            .plan-list {
                list-style: none;
                margin: 0;
                padding: 0;
                &>.plan-feat {
                    position: relative;
                    padding: .75rem 0;
                    font-size: 1rem;
                    font-weight: $font-w-medium;
                    @include solid-color-text();
                    &::before {
                        display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        margin-#{$end-direction}: 10px;
                        @include linear-gradient-text();
                    }
                    &.on-plan::before {
                        content: "\f00c";
                    }
                    &.out-plan::before {
                        content: "\f00d"
                    }
                    &:not(:last-of-type)::after {
                        content: '';
                        display: block;
                        width: 65%;
                        height: 1px;
                        position: absolute;
                        bottom: 0;
                        top: auto;
                        #{$start-direction}: 50%;
                        transform: translateX(-50% * $x-axe-direction);
                        opacity: .5;
                        @include linear-gradient-bg;
                    }
                }
            }
        }
        .plan-cta {
            margin-bottom: 2rem;
        }
    }
}

/*===== End Pricing section rules =====*/