/*======== Start contact-us section Rules ========*/

.take-action {
    .wave-shape {
        @include solid-color-bg();
    }
    .cta-wrapper {
        padding: 60px 0;
        @include solid-color-bg();
        @include solid-color-text($ma-white-color);
        .cta-title {
            @include ma-md-and-under-screens {
                margin-bottom: 1.25rem
            }
        }
        .email-capture-form {
            position: relative;
            .email-lbl {
                display: block;
                font-size: .75rem;
                font-weight: $font-w-bold;
                margin: 0;
                text-align: left //Always text-align:left
            }
            .captured-email {
                display: inline-block;
                font-size: .85rem;
                width: 100%;
                border-radius: .25rem;
                outline: none;
                padding: .5rem;
                border: 1px solid $ma-white-color;
                text-align: left; //Always text-align:left
                @include solid-color-bg($transparent);
                @include solid-color-text($ma-white-color);
            }
            .email-warning {
                position: absolute;
                bottom: -1.25rem;
                #{$start-direction}: 0;
                font-size: .75rem;
                font-style: italic;
                @include solid-color-text($ma-grey-color);
            }
            .subscripe-btn {
                position: absolute;
                right: 0; //Always right:0
                left: auto; //Always left:auto
                bottom: 0;
                border: 1px solid;
                border-radius: .25rem;
                padding: .5rem;
                font-size: .85rem;
                font-weight: $font-w-medium;
                cursor: pointer;
                @include ma-transition();
                @include solid-color-bg($ma-accent-color);
                @include solid-color-text($ma-white-color);
                &:hover {
                    @include solid-color-bg($ma-white-color);
                    @include solid-color-text($ma-accent-color);
                }
            }
        }
    }
}

/* ======== End contact-us section Rules ======== */