/*Start contact-us section Rules*/

.take-action {
    .wave-shape {
        @include solid-color-bg();
    }
    .cta-wrapper {
        padding: 60px 0;
        @include solid-color-text($ma-white-color);
        @include solid-color-bg();
        .cta-title {
            @media(max-width: 991px) {
                margin-bottom: 1.25rem
            }
        }
        .email-capture-form {
            position: relative;
            .email-lbl {
                display: block;
                font-size: .75rem;
                font-weight: $font-w-bold;
                margin: 0;
                text-align: left //Always text-align:left
            }
            .captured-email {
                display: inline-block;
                font-size: .85rem;
                width: 100%;
                border-radius: .25rem;
                outline: none;
                padding: .5rem;
                color: $ma-white-color;
                background: transparent;
                border: 1px solid $ma-white-color;
                text-align: left //Always text-align:left
            }
            .email-warning {
                position: absolute;
                bottom: -1.25rem;
                #{$start-direction}: 0;
                font-size: .75rem;
                font-style: italic;
                color: $ma-grey-color;
            }
            .subscripe-btn {
                position: absolute;
                right: 0; //Always right:0
                left: auto; //Always left:auto
                bottom: 0;
                border: 1px solid;
                border-radius: .25rem;
                padding: .5rem;
                font-size: .85rem;
                font-weight: $font-w-medium;
                background: $ma-accent-color;
                color: $ma-white-color;
                cursor: pointer;
                transition: all .5s ease-in-out;
                &:hover {
                    background: $ma-white-color;
                    color: $ma-accent-color;
                }
            }
        }
    }
}

/*End contact-us section Rules*/