/*==========================  START TESTMOIALS SECTION  ==========================*/

.testmonials {
    .testmonial-content {
        max-width: 75%;
        margin: 15px auto;
        border-radius: 1rem 1rem .25rem .25rem;
        @include ma-box-shadow(0, 3, 15, 0, $transparent-black-25);
        .content {
            padding-#{$start-direction}: 1rem;
            padding-#{$end-direction}: 1rem;
            .testmonial-text {
                overflow-y: auto;
                font-weight: $font-w-medium;
                font-style: italic;
                @include solid-color-text();
            }
        }
        .customer-info {
            margin-top: 0;
            margin-bottom: 20px;
            img {
                padding: 3px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
            .customer-details {
                display: inline-block;
                text-align: #{$start-direction};
                transform: translateY(12px);
                .customer-name {
                    font-size: 1rem;
                    font-weight: bold;
                    margin-bottom: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    @include linear-gradient-text();
                }
                .customer-role {
                    font-size: .85rem;
                    margin-bottom: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    @include linear-gradient-text()
                }
            }
        }
        .customer-testmonial {
            @media(max-width: 991px) {
                padding: 0 10px;
            }
        }
        .icon {
            display: block;
            font-size: 60px;
            opacity: .65;
            margin: 1rem;
            text-align: left; //always left
            @include linear-gradient-text();
        }
    }
}

/*==========================  END TESTMOIALS SECTION  ==========================*/