/*==========================  START TESTMOIALS SECTION  ==========================*/

.testmonials {
    .swiper-wrapper {
        .swiper-slide {
            .testmonial-content {
                max-width: 90%;
                margin: 15px auto;
                border-radius: 1rem 1rem .25rem .25rem;
                .content {
                    .testmonial-text {
                        overflow-y: auto;
                    }
                }
                .customer-info {
                    margin-top: 0;
                    margin-bottom: 20px;
                    img {
                        padding: 3px;
                    }
                    .customer-details {
                        padding-#{$start-direction}: .75rem;
                        transform: translateY(12px);
                        display: inline-block;
                        .customer-name {
                            font-size: 1rem;
                            font-weight: bold;
                            margin-bottom: .5rem;
                        }
                        .customer-role {
                            font-size: .85rem;
                            margin-bottom: .5rem;
                        }
                    }
                }
                .customer-testmonial {
                    @media(max-width: 991px) {
                        padding: 0 10px;
                    }
                }
                i.fa-quote-left {
                    display: block;
                    font-size: 60px;
                    opacity: .4;
                    margin: 1rem;
                    @include solid-color-text();
                }
            }
        }
    }
    div.swiper-button-next,
    div.swiper-button-prev {
        // background-image: none;
        // i {
        //     font-size: 60px;
        //     display: none;
        // }
    } // div.swiper-button-prev {
    //     left: 15px;
    // }
}

/*==========================  END TESTMOIALS SECTION  ==========================*/