.ma-btn {
    // global rules for any btn link
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    outline: none;
    padding: .75rem 1.5rem; // border: 1px solid;
    border-radius: .25rem; // margin-bottom: 1.25rem;
    width: auto;
    box-shadow: 0 (3px * $y-axe-direction) 30px $transparent-black-50;
    transition: all .5s ease-in-out;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        transform: translateY(-3px);
        box-shadow: 0 (8px * $y-axe-direction) 30px $transparent-black-50;
    }
}

.ma-btn-primary {
    // color: $ma-white-color !important;
    // background-color: $ma-accent-color;
    // border-color: $ma-accent-color;
    color: $ma-white-color !important;
    background-color: $ma-main-color;
    border-color: $ma-main-color;
    &:hover {
        background: $ma-accent-color;
    }
}

.ma-btn-secondary {
    border-color: $ma-white-color;
    color: $ma-white-color !important;
    background-color: transparent;
    &:hover {
        background-color: $ma-white-color;
        color: $ma-accent-color !important;
        border-color: $ma-white-color;
    }
}

.ma-btn-navbar {
    width: auto;
    padding: .25rem 1rem;
    margin-#{$start-direction}: .5rem;
    margin-bottom: 0;
    @media(max-width: 991px) {
        margin-#{$start-direction}: 0;
        margin-top: .75rem;
        margin-bottom: 1.25rem;
    }
}