// placeholder class  for extend in other classes
%ma-btn {
    // global rules for any btn link
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    outline: none;
    padding: .75rem 2rem;
    @include ma-box-shadow(0, 3, 30, 0, $transparent-black-50);
    transition: all .5s ease-in-out;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        transform: translateY(-2px);
        @include ma-box-shadow(0, 3, 30, 0, $transparent-black-50);
    }
}

.ma-btn-primary {
    // extend the basic style of a btn
    @extend %ma-btn;
    /**/
    // adding custom styles to this kind of btns
    @include solid-color-text( $ma-white-color);
    @include solid-color-bg( $ma-main-color);
    border-color: $ma-main-color;
    &:hover {
        @include solid-color-text( $ma-white-color);
        @include solid-color-bg( $ma-accent-color);
    }
}

.ma-btn-secondary {
    // extend the basic style of a btn
    @extend %ma-btn;
    /**/
    // adding custom styles to this kind of btns
    border: 1px solid;
    border-color: $ma-white-color;
    @include solid-color-text( $ma-white-color);
    @include solid-color-bg( $transparent);
    &:hover {
        @include solid-color-bg( $ma-white-color);
        @include solid-color-text( $ma-accent-color);
        border-color: $ma-accent-color;
    }
}

.ma-btn-squared {
    border-radius: .25rem;
}

.ma-btn-rounded {
    border-radius: 5rem;
}